#letter {
  display: none;
  border: solid 5px grey;
  font-size: 16px;
  background-color: white;
  padding-left: 50px;
}
form {
  width: 75%;
}
body {
    background-color: #E5E2D2;
}
h2 {
  text-align: center;
}
